.about {
  background-color: #f1f4ec;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.about__name {
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 1.22;
  color: #0e2b54;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

.about__job {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.3em;
  color: #0e2b54;
  text-transform: uppercase;
}
