.education {
  margin-bottom: 10px;
}

.place {
  margin-bottom: 10px;
}

.education__title {
  margin-bottom: 10px;
}

.teach-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.teach-period {
  color: #595959;
}
